<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.css/' %}">
</head>
<body>
{% include 'navbar.html' %}
<!--기본 파일안에 삽입될 내용 start-->
{% block content %}
<!--내 용-->
{% endblock %}
<!--기본 파일안에 삽입될 내용 end-->

<script src="{% static 'board/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'board/js/bootstrap.js' %}"></script>
</body>
</html>