<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>답변 페이지</title>
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.css/' %}">
</head>
<body>
    <div class="container my-3">
        <!-- 질문 영역 -->
       <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text">{{ question.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge badge-light p-2">
                        {{ question.create_date }}
                    </div>
                </div>
            </div>
        </div>
        <!-- 답변 영역 -->
        <h5 class="border-bottom my-3 py-2">
            {{ question.answer_set.count }}개의 답변이 있습니다.
        </h5>
        {% for answer in question.answer_set.all %}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text">{{ answer.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge badge-light p-2">
                        {{ answer.create_date }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- 답변 등록 -->
        <form action="{% url 'board:answer_create' question.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
              <textarea name="content" rows="7" cols="60" class="form-control"></textarea>
          </div>
          <input type="submit" value="답변 등록" class="btn btn-primary">
      </form>
    </div>
<!--
      <h2>{{ question.subject }}</h2>
      <p>{{ question.content }}</p>
      <h4>{{ question.answer_set.count }}개의 답변이 있습니다.</h4>
      <div>
          <ul>
              {% for answer in question.answer_set.all %}
              <li>{{ answer.content }}</li>
              {% endfor %}
          </ul>
      </div>
      <form action="{% url 'board:answer_create' question.id %}" method="post">
          {% csrf_token %}
          <div>
              <textarea name="content" rows="7" cols="60"></textarea>
          </div>
          <input type="submit" value="답변 등록">
      </form>
      -->
</body>
</html>